<html>

<head>
	<title>i2maps - Example 2 (weather with timeline)</title>
	<!-- Load the i2maps JavaScript library: -->
	<script type="text/javascript" src="../../media/js/i2maps.js"></script>
	<!-- Load our own project JavaScript file: -->
	<script type="text/javascript" src="script.js"></script>
</head>

<body style="background-color: #e9e9e9;">
	<!-- The main container for i2maps -->
	<div id="i2maps_tabl" class="panel ui-widget ui-panel" style="padding-top: 3px; padding-left: 3px">
		<!-- The i2maps heading -->
		<h3 class="ui-widget ui-panel-header ui-widget-header" style="width: 98%;">i2maps</h3>
		<div>
			<!-- An empty containing for displaying all messages coming from i2maps -->
			<div id="message" style="width: 98%"></div>
			
			<!-- The main div containing the map -->
			<div id="map_canvas" style="width: 98%; height: 65%; position: relative; left:0px; top:0px;"></div>
			
			<!-- The floating info box -->
			<div id="info_box" class="panel" style="position: fixed; right: 40px; top: 220px; height: 110px; width: 250px; margin-left: 5px;">
				<h3>Info</h3>
				<div>
					<div id="attributes" style="overflow: auto; height: 90px;">
						<p style="font-size: 10px; margin: 5px; margin-top: 0px; margin-bottom: 0px;">Click on one of the points to retrieve additional information on a measurement.</p>
						<p style="font-size: 10px; margin: 5px; margin-top: 0px; margin-bottom: 0px;">Click on the temperature surface to see additional information about the predicted temperature.</p>
					</div>
				</div>
			</div>
			
			<!-- The legend box -->
			<div id="legend_box" class="panel" style="position: fixed; left: 70px; top: 40px; height: 110px; width: 150px; margin-left: 5px;">
				<h3>Temperature</h3>
				<div>
					<div id="legend" style="overflow: auto; height: 90px; padding-left: 10px;"></div>
				</div>
			</div>
			
			
			<!-- The tabs at the bottom of the page -->
			<div id="tabs" style="height: 26%; width: 98%;">
				<ul>
					<li><a href="#chart_tab">Timeline</a></li>
					<li><a href="#about_tab">About</a></li>
				</ul>
				
				<!-- The content of the About tab -->
				<div id="about_tab" class="" style="padding-top: 2px;">
					<div>
						<div>
							<p>Click any marker to see the timeline of air temperature measurements and predicted values at that location.<br/>
								The <span style="color: #000; font-weight: bold"> black</span> line shows the measured values.<br/>
								The <span style="color: #00f; font-weight: bold"> blue </span> line shows the predicted values.</p>
							<p>Click any point on the timeline to change the current time.</p>
						</div>
					</div>
				</div>
				
				<!-- The content of the timeline tab -->
				<div id="chart_tab" class="" style="padding-top: 2px">
					<div>
						<div id="chart_div" style="width: 95%; height: 90%; margin-left: 10px;">
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
</body>

</html>